<html>
    <head>
        <title></title>
    </head>
    <body>
    <div id="loginScreen" class="tab-content loginArea mediator-loginArea login-background">
        <div class="loginMain">
            <div class="userNameRow">
                <label class="userNameTxt">Codename: </label>
                <input id="userNameInput" name="user_name" class="username-field" autocomplete="on" />
            </div>
            <div class="passcodeRow">
                <label class="passwordTxt">Passcode: </label>
                <input id="passwordInput"  name="password" type="password" class="password-field" autocomplete="on" value="" />
            </div>
            <div class="loginBtnRow">
                <a href="#">
                    <div id="loginButton" class="login-button">login</div>
                </a>
                <label class="loginErrorTxt">Code Name / Password is Incorrect. </label>
            </div>
        </div>
    </div>
    </body>
</html>