.hmssApp {
    -randori-context: "startup.DemoContext";
    -randori-mediator: "mediators.IndexMediator";
}

.viewStack {
    -randori-behavior: "randori.behaviors.ViewStack";
}

.verticalTabs {
    -randori-behavior: "behaviors.VerticalTabs";
}

.intel {
    -randori-mediator: "mediators.IntelMediator";
}

.labs {
    -randori-mediator: "mediators.LabsMediator";
}

.targets {
    -randori-mediator: "mediators.TargetsMediator";
}

.targetDetail {
    -randori-mediator: "mediators.target.TargetDetail";
}

.targetLocation {
    -randori-mediator: "mediators.target.TargetLocation";
}

.simpleList {
    -randori-behavior: "randori.behaviors.SimpleList";
}

.list {
    -randori-behavior: "randori.behaviors.List";
}

.template {
    -randori-behavior: "randori.behaviors.template.TemplateRenderer";
}
