.hmssApp {
    -randori-context: "startup.DemoContext";
    -randori-mediator: "mediators.IndexMediator";
}

.siteHeader {
    -randori-behavior: "behaviors.SiteHeader";
    -randori-fragment: "fragment/siteHeader.html";
}

.mediator-login-area
{
    -randori-mediator: "mediators.login.LoginMediator";
}

.viewStack {
    -randori-behavior: "randori.behaviors.ViewStack";
}

.verticalTabs {
    -randori-behavior: "behaviors.VerticalTabs";
}

.intel {
    -randori-mediator: "mediators.IntelMediator";
    -randori-fragment: "fragment/intelList.html";
}

.labs {
    -randori-mediator: "mediators.LabsMediator";
}

.targets {
    -randori-mediator: "mediators.TargetsMediator";
}

.targetDetail {
    -randori-mediator: "mediators.target.TargetDetail";
}

.targetLocation {
    -randori-mediator: "mediators.target.TargetLocation";
}

.tasks {
    -randori-mediator: "mediators.TasksMediator";
}

.tasks-admin {
    -randori-mediator: "mediators.admin.TasksMediator";
}

.createTaskForm {
    -randori-behavior: "behaviors.CreateTaskForm";
    -randori-fragment: "fragment/createTaskForm.html";
}

.tasksgrid {
    -randori-behavior: "behaviors.TasksGrid";
}

.gadgetslideshow {
    -randori-behavior: "behaviors.GadgetSlideShow";
}

.simpleList {
    -randori-behavior: "randori.behaviors.SimpleList";
}

.list {
    -randori-behavior: "randori.behaviors.List";
}

.template {
    -randori-behavior: "randori.behaviors.template.TemplateRenderer";
}
