<!DOCTYPE html>
<html>
    <head>
        <title>Flow</title>
    </head>
    <body class="contentsBody">
        <div class="contentsDiv">
            <h1>Some words on how the code works.</h1>
            <p>Everything is a choice, right? I've just made some choices in the design
                to show how the framework does its job. For instance, in this demo I'm
                waiting for the Googlemap to broadcast its MapEvent.MAP_READY event before
                anything happens on the stage - see GoogleMapsView.handleEvent(). Only
                after that event fires, I'm loading the xml that contains the data for
                the markers, parse that data and animate the map to a position on the stage.
                'onComplete' the main content pane moves to its final destination. It's only
                to show how to use the events from the framework to orchestrate what happens
                on the stage. So yes, if that MapEvent.MAP_READY doesn't fire, nothing will
                happen. In a real life website you would need to catch this and show some
                error message. Or opt for a different implementation all together for that
                matter.</p>
            <h2>Now, from the top.</h2>
            <p>Ok, to get things working the framework requires some basic actors. One of
                the - in my opinion - nifty features of RobotLegs is that it 'listens' to
                what happens on the display list (later more on this). So the first thing
                you must provide is the container that holds all Sprites and Movieclips
                you want to put on the stage - see  <span>FlashGoogleMaps.as</span>
                which is the 'Document class' of the project. You pass this information to what is
                known as the Context - see  <span>FlashGoogleMapsContext.as.</span>
                The Context will initialize the framework. Next, you need to provide some
                information about your actors. Basically you map View components to their
                Mediators, map Commands to events (so things will happen when you want to)
                and... well, let's say save some stuff you can use later on in the code
                ('ask for' - for instance - Proxies and/or Services using the magic
                called Dependency Injection). When all of that is done, you fire a
                <span>ContextEvent.STARTUP</span> and... nothing happens. Here is where
                it starts to get interesting. Only when you add a Sprite to the display
                list, that is when things start happening. The framework detects the new
                child on the stage, provides the correct mediator and away we go. And
                once you are coding in RobotLegs you will experience why this is so
                freaking cool. Let's summarize the basic actors in this demo:</p>
            <p>FlashGoogleMaps.as - serves as the Document Class<br/>
                FlashGoogleMapsContext.as - initializes the framework<br/>PrepViewCommand.as - map View components to
                Mediators<br/>
                PrepModelCommand.as - 'save' the model parts we will need<br/>
                PrepControllerCommand - map some Commands to events<br/>
                StartupCommand.as - add some Sprites to fire up this thing.</p>
            <h2>The Views and Mediators.</h2>
            <p>Ok, with the basic actors in place we can add our Views and do something
                with the Model. As said, I'm dropping a GoogleMapsView on the stage. The
                framework detects this action and automatically provides the GoogleMapsMediator
                thanks to the mapping we did. Have a look at the GoogleMapsMediator. It listens
                for the GoogleMapsView.GOOGLEMAP_READY event fired by the GoogleMapsView. Once
                that events fires, handleGoogleMapReady() gets called and that's when I load
                the xml-file that contains the data for the markers and all other content. To
                load the xml (a Model related job) we dispatch an event that is mapped to the
                LoadXMLCommand. The GoogleMapsMediator obviously wants to know when the xml is
                loaded so it registers for AssetLoaderProxyEvent.XML_CONTENT_LOADED which will be
                fired by AssetLoaderProxy. Once the event fires handleXMLContentLoaded() modifies
                GoogleMapsView via its API. And that - basically - is it!</p>
            <p>Ok, that was way more than 'some words', but you have to agree it's easy stuff
                and all you need to know to start coding with RobotLegs. Yes, there is more
                but once you are on your way you will discover and learn the more involved
                aspects of the framework.</p>
        </div>


    </body>
</html>