<!DOCTYPE html>
<html>
    <head>
        <title>How</title>
    </head>
    <body class="contentsBody generalContentMediator">
        <div class="contentsDiv">
            <h1>So, let's try and explain how everything works here.</h1>
            <p>Remember, on <a href='https://github.com/RandoriAS' target="_blank">github.com/RandoriAS</a> you can read
                more about the framework.</p>
            <h2>First things first.</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu lacus sed nulla volutpat imperdiet. Maecenas erat risus, dictum quis bibendum fringilla, pretium non libero. Curabitur aliquet posuere metus sed pharetra. Integer lacus massa, vehicula non ultricies sed, vestibulum in mauris. In a justo at est cursus vehicula. Donec tincidunt tortor in velit eleifend malesuada. Suspendisse justo ipsum, aliquam eget placerat at, accumsan eu ipsum. In consequat, justo at euismod euismod, nulla ante commodo massa, vel gravida augue nibh lobortis mauris. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In vestibulum vestibulum nunc, non accumsan velit egestas ac. Curabitur sed massa ligula, et porttitor sem. Integer fringilla fermentum pharetra. Duis in tristique turpis. Phasellus ultrices libero nec neque consectetur porttitor. Aenean id dolor sit amet velit feugiat pharetra at sed felis. Vestibulum luctus interdum rhoncus.
            </p>
            <p>
                Pellentesque ac purus odio. Nam fringilla, magna quis sagittis adipiscing, nisl risus scelerisque leo, vitae aliquam purus nisl in nibh. Quisque sagittis massa a elit malesuada tincidunt. Aenean malesuada quam sodales lacus dictum accumsan. Proin vestibulum odio fringilla arcu tempor ultricies. Nulla lobortis varius ante non ultricies. Donec consectetur, urna quis dignissim malesuada, enim mauris congue nulla, hendrerit semper neque tellus vitae nibh. Pellentesque tincidunt nisl eu purus volutpat ac tristique justo porttitor. Etiam a ante augue, fringilla tristique massa. Phasellus justo justo, tempus vitae consequat id, auctor mollis augue. Aliquam sit amet venenatis leo. Sed felis tortor, vulputate facilisis varius nec, molestie id magna.
            </p>
            <p>
                Ut aliquet scelerisque magna, ut vestibulum turpis congue ut. Nulla vel odio et lacus tincidunt accumsan. Praesent ipsum lectus, feugiat quis condimentum tempus, ultricies quis sem. Pellentesque et volutpat tortor. In sit amet lorem justo, ac imperdiet ligula. Quisque at ipsum non nulla malesuada blandit aliquet eget neque. Sed vel neque eget justo tempus blandit sed rutrum ipsum. Curabitur vitae odio id nisl vestibulum mattis eget id lorem. Phasellus id eros justo, a accumsan enim. Nulla libero eros, tempus id mattis a, vestibulum vitae lectus. Donec et purus a metus cursus blandit at sed tortor. Mauris vitae ligula nunc.
             And now:
            </p>
             <span class='link'><a id="goToTips" href='#' data-navto="tips">Show me Leif's favorite eateries! >></a></span>
        </div>
    </body>
</html>