<!DOCTYPE html>
<html>
    <head>
        <title>Tips</title>
    </head>
    <body class="tipsPage contentsBody">
    <div class="contentsDiv">
        <ul>
            <li><a id="showMapItem" href="#" data-navto="showMapItem" data-loc="33.872368,-84.457749">Hoki Japanese Restaurant</a></li>
        </ul>
        <p class="tips"></p>
        <p class="tips">Hankook Taqueria</p>
        <p class="tips">Taqueria Del Sol</p>
        <p class="tips">Rias Bluebird Cafe</p>
        <p class="tips">Thumbs Up</p>
    </div>

    </body>
</html>