<!DOCTYPE html>
<html>
    <head>
        <title>Tips</title>
    </head>
    <body class="tipsPage contentsBody">
    <div class="contentsDiv">
        <ul>
            <li><a id="showMapItem" href="#" data-navto="showMapItem" data-loc="33.872368,-84.457749">Hoki Japanese Restaurant</a></li>
        </ul>

        <table>
            <!-- thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Last Known Location</th>
                <th>Status</th>
            </tr>
            </thead -->
            <tbody id="tipsList" class="simpleList">
            <tr id="template">
                <!-- td><img src="{image}"></td -->
                <td>{name}</td>
                <!-- td>{lastKnownLocation}</td>
                <td>{status}</td -->
            </tr>
            </tbody>
        </table>

        <!-- p class="tips"></p>
        <p class="tips">Hankook Taqueria</p>
        <p class="tips">Taqueria Del Sol</p>
        <p class="tips">Rias Bluebird Cafe</p>
        <p class="tips">Thumbs Up</p -->
    </div>

    </body>
</html>