<!DOCTYPE html>
<html>
    <head>
        <title>Select Dates</title>
    </head>
    <body>
         <h1>Select Your Dates</h1>
         <p>Please select the drop off and pick up dates:</p>
        <form>
            <div class="formItem">
                <label for="startDate">Drop Off:</label>
                <input id="startDate" type="date">
            </div>
            <div class="formItem">
                <label for="endDate">Pick Up:</label>
                <input id="endDate" type="date">
            </div>
            <div class="formAction">
                <button id="selectDatesButton">Check for Availability</button>
            </div>
        </form>
        <p>Please Note: Not all dates are available. Some dates may have waiting lists.
            Please contact us if your preferred dates are unavailable.</p>
    </body>
</html>